In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
pd.__version__

'2.3.1'

In [13]:
df.groupby('fuel_type').count()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,drivetrain,num_doors,fuel_efficiency_mpg
fuel_type,,,,,,,,,,
Diesel,4806,4601,4461,4806,4350,4806,4806,4806,4550,4806
Gasoline,4898,4621,4535,4898,4424,4898,4898,4898,4652,4898

In [7]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [8]:
df['fuel_efficiency_mpg'].max()

np.float64(25.96722204888372)

In [9]:
df.groupby('origin')['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [10]:
df['horsepower'].median()

np.float64(149.0)

In [11]:
df['horsepower'].mode()[0]

np.float64(152.0)

In [12]:
df['horsepower'].fillna(152)

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [13]:
df['horsepower'].median()

np.float64(149.0)

In [14]:
X = df.loc[df['origin'] == 'Asia', ['vehicle_weight', 'model_year']].head(7).values