In [38]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer

In [2]:
data = 'wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

In [ ]:
 #!wget $data

--2025-11-02 07:53:54--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address ‘wget’
--2025-11-02 07:53:54--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv.1’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.005s

2025-11-02 07:53:54 (152 MB/s) - ‘car_fuel_efficiency.csv.1’ saved [874188/874188]

FINISHED --2025-11-02 07:53:54--
Total wall clock time: 0.2s
Downloaded: 1 files, 854K in 0.005s (152 MB/s)

In [10]:
df = pd.read_csv('/workspaces/machine_learning/05-decision_tree/car_fuel_efficiency.csv')
df.head()

   engine_displacement  num_cylinders  ...  num_doors  fuel_efficiency_mpg
0                  170            3.0  ...        0.0            13.231729
1                  130            5.0  ...        0.0            13.688217
2                  170            NaN  ...        0.0            14.246341
3                  220            4.0  ...        2.0            16.912736
4                  210            1.0  ...        2.0            12.488369

[5 rows x 11 columns]

In [11]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [15]:
df=df.fillna(0)

In [17]:
df.isna().sum()

engine_displacement    0
num_cylinders          0
horsepower             0
vehicle_weight         0
acceleration           0
model_year             0
origin                 0
fuel_type              0
drivetrain             0
num_doors              0
fuel_efficiency_mpg    0
dtype: int64

In [35]:
df_fulltrain,df_test = train_test_split(df,test_size=0.2,random_state=1)
df_train,df_val = train_test_split(df_fulltrain,test_size=0.25,random_state=1)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)


y_train = df_train['fuel_efficiency_mpg'].values
y_val = df_val['fuel_efficiency_mpg'].values
y_test= df_test['fuel_efficiency_mpg'].values

del df_train['fuel_efficiency_mpg']
del df_val['fuel_efficiency_mpg']
del df_test['fuel_efficiency_mpg']

In [36]:
len(df_train), len(df_val), len(df_test)

(5822, 1941, 1941)

In [39]:
df_train.nunique()

engine_displacement      36
num_cylinders            14
horsepower              178
vehicle_weight         5822
acceleration            157
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
dtype: int64

In [42]:
dv = DictVectorizer(sparse=False)
train_dict = df_train.to_dict(orient='records')
X_train=dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

array([[1.39000000e+01, 0.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 2.96667950e+03],
       [1.71000000e+01, 0.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 2.95082212e+03],
       [1.74000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 3.07822167e+03],
       ...,
       [1.67000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 3.04196459e+03],
       [1.52000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 2.45334143e+03],
       [1.41000000e+01, 0.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 2.83389943e+03]], shape=(5822, 14))